header{
    background-color: green; 
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

body{
    background-image: url(../images/LOGO/Mariano-Marcos-State-University-MMSU.jpg);
}

.cit{
    display: flex;
    text-align: left;
}
header img {
    max-height: 50px;
    margin-right: 10px;
}
.logo{
    display: flex;
    flex-direction: row;
    border: 10px;
}
.main-nav{
    display: flex;
    flex-direction: row;
    border: 10px;
    margin: 10px 0;
}
header .main-nav a{
    text-align: right;
    padding: 10px 0;
    padding-right: 20px;
    justify-content: right;
    text-decoration: none;
    color: black;
    align-self: right;
    
}
.main-nav a:hover{
    text-align: right;
    background-color: green; 
    color: white;
}

.aboutus{
    background-color: green; opacity: 80%;
    color: white;
    justify-content: space-around;
    align-content: center;
    display: flex;
    border: 2px solid gold;
    
}
.flex-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: transparent;
    grid-gap: 15px;
    padding: 10px;
    align-content: center;
    background-color: green;opacity: 80%;
    border: 2px solid gold;
}
.flex-container> div{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: "PT Serif Caption";
    align-content: center;
}

.collegegoals{
    background-color: green; opacity: 50%;
    display: flex;
    flex-direction: row;
}
footer{
    display: flex;
    text-align: center;
    align-content: center;
    color: beige;
    
}